PORT=8080

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/nexora_db
SPRING_DATASOURCE_USERNAME=nexora_user
SPRING_DATASOURCE_PASSWORD=nexora_password

SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=true

# Render + Neon example:
# PORT=10000
# SPRING_DATASOURCE_URL=jdbc:postgresql://TU_HOST_NEON/TU_DATABASE?sslmode=require
# SPRING_DATASOURCE_USERNAME=TU_USER_NEON
# SPRING_DATASOURCE_PASSWORD=TU_PASSWORD_NEON
# SPRING_JPA_HIBERNATE_DDL_AUTO=validate
# SPRING_JPA_SHOW_SQL=false
